<% include ./partials/head %>
<div id="setupComplete" class="row">
    <div class="col-sm-9">
        <h2>Test Shopify API Features</h2>
        <div class="well well-lg">
            <h2>Customers</h2>
            <% if(!!products) { %>
                <script id="productData" type="application/json"><%= JSON.stringify(products) %></script>
            <% } %>
            <table>
                <thead>
                    <tr>
                        <th colspan="1">ID</th>
                        <th colspan="1">Name</th>
                        <th colspan="1">Email</th>
                        <th colspan="1">Status</th>
                        <th colspan="1">Orders Count</th>
                        <th colspan="1">Most Recent Order ID</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                <% if(!!error) { %>
                    <tr><td colspan="7"><pre><%= JSON.stringify(error) %></pre></td></tr>
                <% } %>
                <% if(!!customers && !!customers.length) { %>
                    <% customers.forEach(function($customer, $i) { %>
                        <tr id="<%= $customer.id %>">
                            <td colspan="1"><%= $customer.id %></td>
                            <td colspan="1"><%= $customer.first_name %> <%= $customer.last_name %></td>
                            <td colspan="1"><%= $customer.email %></td>
                            <td colspan="1"><%= $customer.state %></td>
                            <td colspan="1"><%= $customer.orders_count %></td>
                            <td colspan="1"><%= $customer.last_order_id %></td>
                            <td colspan="1"><button class="btn cyan darken-2 waves-effect waves-light customer-meta" data-id="<%= $customer.id %>">Get Metadata</button></td>
                        </tr>
                        <tr>
                            <td colspan="7">
                                <h5>Add Customer Specific Prices</h5>
                                <form id="addCustomerMeta" action="#" data-id="<%= $customer.id %>">
                                    <input type="hidden" name="id_<%= $customer.id %>" value="<%= $customer.id %>" />
                                    <input type="hidden" id="namespace_<%= $customer.id %>" name="namespace" value="pricing" />
                                    <div class="input-field col s6">
                                        <% if(!!products && !!products.length) { %>
                                        <select id="key_<%= $customer.id %>" name="key">
                                            <option value="" disabled selected>Select Product</option>
                                            <% products.forEach(function($product, $i) { %>
                                            <option value="<%= $product.id %>"><%= $product.title %></option>
                                            <% }); %>
                                        </select>
                                        <% } else { %>
                                            <input type="text" id="key_<%= $customer.id %>" name="key" />
                                        <% } %>
                                        <label for="key">Product</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <i class="material-icons prefix">attach_money</i>
                                        <input id="value_<%= $customer.id %>" type="text" name="value" class="validate">
                                        <label for="value_<%= $customer.id %>" class="">Customer Specific Price</label>
                                      </div>
                                    <div class="input-field col s6">
                                        <textarea id="description_<%= $customer.id %>" name="description" class="materialize-textarea"></textarea>
                                        <label for="description_<%= $customer.id %>">Description</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <button type="submit" class="btn teal darken-4 waves-effect waves-light">Apply Price</button>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    <% }); %>
                <% } %>
                </tbody>
            </table>
            <form id="getCustomer">
                <label>Get Customer By ID</label>
                <input name="id" placeholder="Customer ID" />
                <button type="submit" class="btn btn-primary">Get Customer</button>
            </form>
            <hr>
            <form id="getCustomerByEmail">
                <label>Get Customer By Email</label>
                <input type="email" tname="email" placeholder="testing@test.com" />
                <button type="submit" class="btn btn-primary">Get Customer</button>
            </form>
            <hr>
            <form id="updateCustomer">
                <label>Update Customer Email</label>
                <input id="customerID" type="hidden" name="id" value="" />
                <input type="email" name="new_email" placeholder="testing@test.com" />
                <button type="submit" class="btn btn-primary">Update Email</button>
            </form>
        </div>
    </div>
    <% include ./partials/sidebar_right %>
</div>
<% include ./partials/footer %>