<main class="sidebar-left col s3 blue-grey lighten-1">
	<form class="sidebar-left-form" autocomplete="off">
		<header class="sidebar-left-header row">
			<div class="col s4">
				<a href="<%= store_url %>" title="Back to Shopify" aria_label="Back to Shopify" class="te-brand-link" data-trekkie-id="navigate-to-themes">
	            <svg focusable="false" aria-hidden="true" class="ui-inline-svg te-brand-logo" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 42">
	                <path d="M30.724 8.742s-.033-.182-.135-.248c-.103-.067-.214-.08-.214-.08l-3.212-.242-2.02-2.032c-.088-.07-.192-.11-.298-.13L23.12 41.204l11.96-2.623-4.356-29.84"></path>
	                <path d="M23.59 5.79l-.88.277c-.533-1.593-1.26-2.728-2.175-3.383-.676-.485-1.42-.695-2.22-.632-.166-.225-.35-.42-.55-.585-.887-.725-2.03-.838-3.396-.336-4.1 1.51-5.842 6.89-6.47 9.58L4.33 11.83s-.84.243-1.04.483c-.216.263-.257.973-.257.973L0 36.966l22.425 4.256 1.734-35.45c-.252-.05-.508.004-.57.02zm-5.437 1.705l-3.948 1.24c.523-2.077 1.53-4.198 3.45-5.025.4 1.06.51 2.51.498 3.785zm-3.316-5.057c.835-.307 1.477-.292 1.96.038-2.577 1.19-3.702 4.188-4.187 6.758l-3.16.99c.705-2.584 2.28-6.643 5.387-7.786zM17.05 19.89c-.18-.09-.394-.184-.636-.275-.24-.09-.506-.175-.795-.247-.287-.07-.596-.128-.92-.163-.322-.033-.66-.044-1.01-.023-.32.02-.613.077-.87.17-.253.09-.473.218-.655.374-.18.157-.324.343-.424.558-.1.214-.16.456-.17.723-.008.198.022.388.09.573.07.186.177.367.324.547.147.18.334.363.56.546.227.186.497.375.807.57.436.283.88.6 1.302.966.43.37.835.787 1.184 1.262.353.482.646 1.02.844 1.626.2.61.3 1.282.27 2.023-.054 1.213-.316 2.258-.75 3.124-.428.856-1.018 1.528-1.73 2.015-.697.475-1.503.77-2.38.89-.85.115-1.765.064-2.706-.147l-.022-.005-.023-.005-.023-.005-.023-.006c-.44-.108-.867-.248-1.267-.412-.395-.162-.765-.346-1.102-.545-.333-.196-.634-.407-.895-.625-.258-.216-.477-.44-.65-.662l1.04-3.493c.175.15.39.32.634.495.246.175.523.355.82.524.3.17.622.327.952.456.335.13.68.23 1.02.28.3.045.57.036.806-.018.237-.054.44-.154.605-.29.167-.137.296-.31.386-.51.09-.198.142-.422.152-.663.01-.24-.012-.468-.07-.688-.06-.22-.158-.432-.298-.645-.14-.213-.322-.426-.55-.646-.228-.217-.5-.442-.824-.682-.396-.3-.77-.624-1.103-.978-.33-.35-.622-.728-.862-1.14-.237-.405-.423-.845-.544-1.323-.12-.475-.176-.99-.152-1.55.04-.938.225-1.802.535-2.58.312-.786.756-1.49 1.312-2.098.565-.62 1.255-1.143 2.05-1.545.817-.414 1.752-.704 2.788-.84.48-.065.94-.095 1.377-.097.443-.002.86.024 1.242.074.388.05.742.123 1.054.213.318.09.59.198.817.315l-1.518 4.58zm2.47-12.823c0-.157-.004-.317-.01-.48-.046-1.243-.212-2.292-.496-3.14.308.03.59.134.846.318.716.512 1.23 1.545 1.592 2.696l-1.93.607z"></path>
	            </svg></a>
	    	</div>
	    	<div class="col s8">
	        	<div class="valign-wrapper"><h6><%= theme_name %></h6></div>
	    	</div>
		</header>
		<div class="row">
			<div class="collection">
				<% if(!!header) { %>
					<a href="#!" class="collection-item"><i class="material-icons left"><%= header.icon %></i><span class="truncate"><%= header.name %></span></a>
				<% } %>
				<% if(!!sections && !!sections.length) { %>
					<% sections.forEach(function(schema, $i) { %>
						<% if(!!schema.name) { %>
						<a href="#!" class="collection-item"><i class="material-icons left"><% if (schema.icon) { %><%= schema.icon %><% } else { %>dashboard<% } %></i><span class="truncate"><%= schema.name %></span><i class="material-icons secondary-content">more_vert</i></a>
						<% } %>
					<% }); %>
				<% } %>
				<% if(!!footer) { %>
					<a href="#!" class="collection-item"><i class="material-icons left"><%= footer.icon %></i><span class="truncate"><%= footer.name %></span></a>
				<% } %>
				<a id="addSection" href="#!" class="collection-item sidenav-trigger" data-target="slide-out"><i class="material-icons left">add_box</i><span class="truncate">Add Section</span></a>
			</div>
			<div id="slide-out" class="sidenav">
				<div class="collection">
				<% if(!!schemas && !!schemas.length) { %>
					<% schemas.forEach(function(schema, $i) { %>
						<% if(!!schema.name) { %>
						<a href="#!" class="collection-item"><i class="material-icons left"><% if (schema.icon) { %><%= schema.icon %><% } else { %>dashboard<% } %></i><span class="truncate"><%= schema.name %></span><button class="btn-small waves-effect waves-light blue darken-3 secondary-content">Add</button></a>
						<% } %>
					<% }); %>
				<% } %>
				</div>
			</div>
		</div>
    </form>
    <script type="text/javascript">
    	var elem = document.querySelector('.sidenav');
    	var addSection = document.querySelector('#addSection');
		var instance = M.Sidenav.init(elem);
		if(!!addSection){
			addSection.addEventListener('click', function(){
				instance.open();
			});
		}
    </script>
</main>